 * { 
  margin: 0;
} 
body{
    background-color: #F2E9E4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    background-color: #22223B;
    height: 80px;
    padding-top: 40px;
    margin: 0 auto;
    

}
.header-flexbox{
    display: flex;
    flex-direction: row;
}
.logo{
    color: #F2E9E4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: solid;
    font-size: 28px;
    margin-right: 30px;
}
.nav-anchor{
    color: #F2E9E4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 15px;
    text-decoration: solid;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.heading-title{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #22223B;
    text-shadow: .19px .19px 15px #4A4E69;
}
.main-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C9ADA7;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 50px;
    height: 400px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 0px 0px 10px #22223bbb ;
}
.input-text{
    margin: 20px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    font-size: 17px;
}
.button{
    font-weight: bold;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4A4E69;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover{
    background-color: #22223B;
}
#btn-encode{
      margin-right: 150px;
      margin-left: 100px;
}
#btn-decode{
    margin-right: 100px;
      margin-left: 150px;
}
.input-text-sha256{
    margin: 15px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 5px;
    width: 425px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}
.main-div-rgb{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #C9ADA7;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 25px;
    height: 375px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 0px 0px 10px #22223b ;
}
.div-input-rgb{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #F2E9E4;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    height: 300px;
    width: 325px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px #22223b; */
}
.input-text-rgb{
    margin-top: 25px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 25px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 17px;
}
.button-rgb{
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4A4E69;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 10px;
}
.button-rgb:hover{
    background-color: #22223B;
}
.text-label{
    font-weight: bold;
}
.heading-title-rgb{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #22223B;
    text-shadow: .19px .19px 15px #4A4E69;
    margin-left: 350px;
    margin-right: 350;
}
.div-output{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #22223B;
}
.main-input-num{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C9ADA7;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 25px;
    height: 550px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #22223b ;
}
.heading-title-num{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #22223B;
    text-shadow: .19px .19px 15px #4A4E69;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bolder;
}
.main-div-unit{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C9ADA7;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 25px;
    height: 520px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #22223b ;
}
.heading-title-unit{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #22223B;
    text-shadow: .19px .19px 15px #4A4E69;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bolder;
}
.input-unit{
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
}
.text-label{
    color: #22223B;
}
.input-text-unit{
    align-items: center;
    margin-top: 25px;
    margin-left: 15px;
    margin-right:15px;
    margin-bottom: 25px;
    border-width: 1.35px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.main-div-string{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C9ADA7;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 25px;
    height: 350px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #22223b ;
}
.text-area{
    align-items: center;
    margin-top: 25px;
    margin-left: 15px;
    margin-right:15px;
    margin-bottom: 25px;
    border-width: 1.35px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 10px;
    width: 550px;
    height: 200px;
    text-align: center;
    font-size: 17px;    
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right:15px;
    
}
.button-string{
    font-weight: bold;
    padding: 7px 10px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4A4E69;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    margin-top: 10px;
    margin-left: 5px;
    margin-right:5px;
}
.button-string:hover{
    background-color: #22223B;
}
.main-div-clock{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C9ADA7;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    margin-top: 25px;
    height: 350px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #22223b ;
}
.heading-timestamp{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #22223B;
    text-shadow: .19px .19px 15px #4A4E69;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bolder;
}
.input-div-timestamp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.input-text-timestamp{
    align-items: center;
    margin-bottom: 25px;
    border-width: 1.35px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 17px;
}
.label-text{
    margin-left: 5px;
    margin-right: 5px;
}
.output{
    background-color: #fff;
    margin: 35px;
    height: 75px;
    border-width: 2px;
    border-style: solid;
    border-color: #22223B;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    font-size: 17px;
    color: #22223B;
    font-weight: bold;    
}